@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top: 20px;">
    <h1>Edesoft</h1>
    <p class="lead">
        O código fonte deste teste prático deve ser compartilhado.
    </p>
    <p class="lead">
        Enviar o link para o nosso comitê de avaliação através do E-mail do RH (Rh@edesoft.com.br).
    </p>
    <p class="lead">
        Pré requisito utilizar o framework 4.6.1
    </p>
    <p class="lead">
        Deixar todos os pacotes na aplicação para uso com o framework 4.6.1
    </p>
    <p class="lead">
        Utilizar Banco de dados SQL Server Express
    </p>
    <p class="lead">
        Inserir os scripts de criação das tabelas no projeto
    </p>
    <p><a href="https://edesoft.com.br" target="_blank" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>